

      .chart {
        height : 310px;
        width : 550px;
        margin: 5px auto 0 auto;
        padding : 5px;
        border : 1px #CCC solid;
        background-color: #fcfcfc;
      }

      

      .chartContainer{
        margin: 0 auto;
      }

     

    
